.content-container {
    h1 {
      font-size: 17px;
      font-weight: bolder;
    }
    padding-top: 196px;
    background: var(--off-white);
    min-height: calc(100vh - 197px);
  }
.results-div {
    padding: 15px 0 0 15px;
    background: var(--off-white);
  
    text-align: center;
  
    .box-style:last-of-type {
      border: none;
    }
  }
  .results-item {
    box-sizing: border-box;
    box-shadow: 7px 7px 8px -5px rgba(0, 0, 0, 0.05);
    background: var(--white);
    // border-radius: 10px;
    padding: 15px 25px 5px 25px;
    position: relative;
    width: calc(100% - 50px);
    max-width: 900px;
    margin-top: 15px;
    position: relative;
  
    &-shade{
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 10px;
    }
  
    li:nth-child(4){
      display: flex;
      cursor: pointer;
      span{
        margin-left: 18px;
        display: flex;
        align-items: center;
  
        img{
          width: 24px;
        }
      }
    }
  
    li:not(:last-child){
      margin: 4px 0;
    }
  
    li:nth-child(3){
      margin: 10px 0;
    }
  
    h3{
      font-weight: 600;
    }
  
    &-location{
      margin-right: 20px;
      img{
        width: 20px;
        margin-right: 10px;
      }
    }
  
    &-resources{
      img{
        width: 24px;
        margin-right: 10px;
      }
    }
  
    &-resources,&-location{
      display: flex;
      align-items: center;
    }
  
    &-link{
      border-top: 1px dashed var(--border);
      padding: 6px 0;
      margin-top: 18px;
      text-align: center;
      a{
        display: inline-block;
        margin-right: 15px;
        color: var(--highlight);
        font-weight: 500;
      }
  
    }
    span:first-child{
      display: block;
      // color: var(--highlight);
      font-weight: 500;
    }
  
    &-about{
      display: flex;
    }
  
  }