<header class="header">
  <div class="logo__container">
    <a href="/"
      ><img
        src="https://iudx.s3.ap-south-1.amazonaws.com/iudx_logo.png"
        class="logo" /></a
    >&nbsp;
    <!-- <h1>IUDX Vocabulary</h1> -->
  </div>
  <div class="searchBox-container">
    <form name="form" action="#" autocomplete="off">
      <div class="searchBox">
        <input
          type="text"
          name="search"
          (ngModelChange)="filterItems(search_text)"
          placeholder="Search schema..."
          [(ngModel)]="search_text"
          autofocus
        />
        <button [disabled]="!search_text" (click)="onSearch(search_text)">
          <img src="assets/search.png" />
        </button>
        <div *ngIf="search_text != ''" class="searchBox-dropdown">
          <ul *ngIf="filteredTerm.length != 0">
            <li
              *ngFor="let res of filteredTerm"
              [value]="res.label"
              routerLink="{{ res.label }}"
              (click)="close_div()"
            >
              <p>
                {{ res.label }}
              </p>
            </li>
          </ul>
        </div>
      </div>
    </form>
  </div>
  <nav>
    <ul class="navList">
      <li>
        <a routerLink="/data-models/list" class="navLink">Data-Models</a>
      </li>
      <li>
        <a routerLink="/entities/list" class="navLink">Types</a>
      </li>
    </ul>
  </nav>
</header>
