.header {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw - 50px);
  z-index: 2;
  padding: 10px 25px;
  background-color: #f4f4f4;
}

.header,
.navList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
}

nav {
  display: flex;
  width: 250px;
  position: relative;
}

.navList {
  width: 100%;

  li a {
    display: block;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: var(--highlight);
    padding-right: 50px;
  }
}

// .search-container {
//   display: flex;
//   align-items: center;
//   border: 1px solid var(--border);
//   padding: 8px 12px;
//   margin: 25px 0;
//   img {
//     width: 100%;
//   }
// }

.searchBox {
  display: flex;
  align-items: center;
  border: 1px solid var(--border);
  border-radius: 8px;
  padding: 8px 12px;
  margin: 25px 0;
  width: 600px;
  background-color: var(--white);
  &-container {
    position: relative;
  }

  input {
    border: none;
    width: 100%;
    height: 100%;
  }

  a {
    width: 18%;
    font-weight: 600;
    opacity: 0.8;
  }

  button {
    width: 3%;
    display: flex;
    background: none;
    border: none;
  }

  img {
    width: 130%;
    height: 130%;
  }
}

// .search {
//   width: 20px;
//   height: 15px;
// }

.logo {
  width: 50px;
}

.logo__container a {
  display: inline-block;
}

.logo__container h1 {
  font-size: 18px;
  font-weight: 500;
  color: var(--primary);
  font-size: 25px;
  float: right;
  padding-top: 10px;
  padding-left: 10px;
}

// HOVER FUNCTIONALITY

// .developers__container {
//   border: 1px solid var(--border);
//   padding: 5px 15px;
//   border-radius: 8px;

//   div {
//     font-size: 18px;
//     padding: 15px 0;
//   }
// }

// .developers__container p,
// .documentation__container p,
// // .arrow {
// //   color: var(--tertiary);
// // }
