<header class="header">
  <div class="logo__container">
    <a href="/"><img src="/assets/iudx_logo.png" class="logo" /></a>&nbsp;
    <h1>IUDX Vocabulary</h1>
  </div>
  <div class="searchBox-container">
    <form name="form" action="#" autocomplete="off">
      <div class="searchBox">
        <input
          list="dropdown"
          aria-label="Search"
          name="dropdown"
          type="text"
          placeholder="Search schema..."
          [(ngModel)]="searchTerm"
          autofocus
        />
        <button>
          <img src="assets/search.png" />
        </button>
      </div>
    </form>
  </div>
  <nav>
    <ul class="navList">
      <li>
        <a routerLink ="/data-models" class="navLink">Data-Models</a>
      </li>
      <li>
        <a routerLink = "/entities" class="navLink">Types</a>
      </li>
    </ul>
  </nav>
</header>
