<div class="main-container">
    <div class="title-div">
        <h1>Title</h1>
        <p>Description</p>
    </div>
    <div id="table-div">
        <table>
            <tr><th>Property</th><th>Expected Type</th><th>Description</th></tr>
            <tr class="sub-header-style"><th>Properties of ResourceGroup</th><th></th><th></th></tr>
            <tr><td>resourceServer</td><td>Text RelationshipValue</td><td>IRI pointing to the ResourceServer entity for a given Resource or ResourceGroup.</td></tr>
            <tr><td>resourceServer</td><td>Text RelationshipValue</td><td>IRI pointing to the ResourceServer entity for a given Resource or ResourceGroup.</td></tr>
            <tr><td>resourceServer</td><td>Text RelationshipValue</td><td>IRI pointing to the ResourceServer entity for a given Resource or ResourceGroup.</td></tr>
            <tr class="sub-header-style"><th>Properties inherited from IUDXEntity</th><th></th><th></th></tr>
            <tr><td>resourceServer</td><td>Text</td><td>Status of a catalouge item. ENUM: [ACTIVE, DEPRECATED].</td></tr>
            <tr><td>resourceServer</td><td>Text</td><td>Status of a catalouge item. ENUM: [ACTIVE, DEPRECATED].</td></tr>
            <tr><td>resourceServer</td><td>Text</td><td>Status of a catalouge item. ENUM: [ACTIVE, DEPRECATED].</td></tr>
        </table>
    </div>
</div>