<div class="main-container">
    <div class="title-div">
        <h1>ResourceServer</h1>
        <p>Describes the Resource Server entry in the IUDX catalogue.</p>
    </div>
    <div id="table-div">
        <table>
            <tr><th>Property</th><th>Expected Type</th><th>Description</th></tr>
            <tr class="sub-header-style"><th>Properties of <a>ResourceGroup</a></th><th></th><th></th></tr>
            <tr><td><a>resourceServer</a></td><td><span><a>Text</a></span><span><a>Relationship</a></span></td><td>IRI pointing to the ResourceServer entity for a given Resource or ResourceGroup.</td></tr>
            <tr><td><a>resourceServer</a></td><td><span><a>Text</a></span><span><a>Relationship</a></span></td><td>IRI pointing to the ResourceServer entity for a given Resource or ResourceGroup.</td></tr>
            <tr><td><a>resourceServer</a></td><td><span><a>Text</a></span><span><a>Relationship</a></span></td><td>IRI pointing to the ResourceServer entity for a given Resource or ResourceGroup.</td></tr>
            <tr class="sub-header-style"><th>Properties inherited from <a>IUDXEntity</a></th><th></th><th></th></tr>
            <tr><td><a>resourceServer</a></td><td><span><a>Text</a></span></td><td>Status of a catalouge item. ENUM: [ACTIVE, DEPRECATED].</td></tr>
            <tr><td><a>resourceServer</a></td><td><span><a>Text</a></span></td><td>Status of a catalouge item. ENUM: [ACTIVE, DEPRECATED].</td></tr>
            <tr><td><a>resourceServer</a></td><td><span><a>Text</a></span></td><td>Status of a catalouge item. ENUM: [ACTIVE, DEPRECATED].</td></tr>
        </table>
    </div>
</div>