.main-container{
    padding-top:60px;
    margin : 35px; 
    .title-div{
        h1{
            font-size: 18px;
            padding-bottom:10px;
            color: var(--secondary);
            font-weight:500;
        }
        p{
            font-size:16px;
            color:var(--tertiary);
            padding-bottom:30px;
        }
    }
}

.separator {
    border-left: 1px solid var(--border);
    border-right: 1px solid var(--border);
    background-color: var(--off-white);
    border-top: 0;
    padding: 10px 15px;
}

.type_link {
    color: var(--secondary);
    text-underline-position: below;
    text-decoration: underline;
}