.main-container {
  padding-top: 60px;
  margin: 35px;
  .title-div {
    h1 {
      font-size: 18px;
      padding-bottom: 10px;
      color: var(--secondary);
      font-weight: 500;
    }
    p {
      font-size: 16px;
      color: var(--tertiary);
      padding-bottom: 30px;
    }
  }
}
table {
  width: 100%;
  border: 1px solid var(--border);
  border-collapse: collapse;

  tr > th {
    background-color: var(--off-white);
  }
  th {
    height: 40px;
    // width: 20%;
    text-align: left;
    padding-left: 15px;
  }
  tr {
    td {
      span {
        display: block;
        a {
          border-bottom: 1px solid var(--primary);
          font-weight: 5 00;
        }
      }
    }
  }

  tr:first-child {
    border: 1px solid var(--border);
    th:first-child {
      border-right: 1px solid var(--border);
      width: 350px;
    }
  }
  td {
    padding-left: 15px;
    padding-bottom: 25px;
    padding-top: 15px;
  }
  td:first-child {
    border-right: 1px solid var(--border);
    a {
      color: var(--highlight);
      border-bottom: 1px solid;
      font-weight: 500;
    }
  }
}

.classes {
  a {
    color: var(--highlight);
  }
}

.sub-header-style {
  background-color: var(--off-white);
}
