.type_link {
  color: var(--secondary);
  text-underline-position: below;
  text-decoration: underline;
}
.type{
  color: var(--highlight);
  text-underline-position: below;
  text-decoration: underline;
  font-weight: 500;
}