<div class="main-container">
  <div class="title-div">
    <h1>{{property_details.label}}</h1>
    <p>
      {{property_details.comment}}
    </p>
  </div>
  <div id="table-div">
    <table>
      <tr>
        <th>Expected Values</th>
      </tr>
      <tr *ngFor="let type of property_details.types">
        <td><a>{{type}}</a></td>
      </tr>
      <tr class="sub-header-style">
        <th>Used on these Types</th>
      </tr>
      <tr *ngFor="let domain of property_details.domains"class="classes">
        <td><a>{{domain}}</a></td>
      </tr>
    </table>
  </div>
</div>
