<div class="main-container">
  <div class="title-div">
    <h1>List of Data Descriptors for Data Model</h1>
    <br />
  </div>
  <div id="table-div">
    <table>
      <tr>
        <th>Data Model</th>
        <th class="description">Data Descriptor Name</th>
      </tr>

      <tr>
        <td>iudx:EnvAQM</td>
        <td class="description">
          <a class="title">env_aqm_iiith</a>
        </td>
      </tr>
      <tr>
        <td>iudx:EnvWeather</td>
        <td class="description">
          <a class="title">env_weather_iiith</a>
        </td>
      </tr>
    </table>
  </div>
</div>
