table {
  max-width: 1200px;
  width: 100%;
  margin: 50px auto;
  border: 1px solid var(--border);
  border-collapse: collapse;
  th {
    text-align: left;
    border-right: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    background-color: var(--off-white);
    padding: 15px;
    font-size: 16px;
  }
  td {
    border-right: 1px solid var(--border);
    padding: 15px;
  }
  .title {
    color: var(--highlight);
    font-weight: 500;
    border-bottom: 1px solid var(--highlight);
  }
  .description {
    border-right: none;
  }
}
