<div class="main-container">
  <div class="title-div">
    <h1>List of Data Descriptors for Data Model</h1>
    <br />
  </div>
  <div id="table-div">
    <table>
      <tr>
        <th>Data Model</th>
        <th class="description">Data Descriptor Name</th>
      </tr>

      <tr *ngFor="let descriptor of descriptors">
        <td>{{ descriptor.type }}</td>
        <td class="description">
          <a (click)="goToDescriptor(descriptor.documents)" class="title">{{
            descriptor.documents
          }}</a>
        </td>
      </tr>
    </table>
  </div>
</div>
