<div class="main-container">
  <div class="title-div">
    <h1>List of DataModels belonging to the {{ value }} Domain</h1>
    <br />
  </div>
  <div id="table-div">
    <table>
      <tr>
        <th>Value</th>
        <th class="description">Description</th>
      </tr>
      <tr *ngFor="let domain of domains">
        <td>
          <a class="title">{{ domain.label }}</a>
        </td>
        <td class="description">
          {{ domain.comment }}
        </td>
      </tr>
    </table>
  </div>
</div>
