<div class="main-container">
  <div class="title-div">
    <h1>List of DataModels belonging to the Waste Management Domain</h1>
    <br />
  </div>
  <div id="table-div">
    <table>
      <tr>
        <th>Value</th>
        <th class="description">Description</th>
      </tr>
      <!-- <tr *ngFor="let domain of domains"> -->
      <tr>
        <td>
          <!-- <a class="title">{{ domain.label }}</a> -->
          <a class="title">WmngmtVehicle</a>
        </td>
        <td class="description">
          <!-- {{ domain.comment }} -->
          Data model for solid waste management vehicles in Varanasi city.
        </td>
      </tr>
    </table>
  </div>
</div>
