<div class="main-container">
  <p>
    * A Type specifies the data type for a schema. Each <span>Type</span> is
    associated with a set of properties.
  </p>
  <br />
  <p>Some important Types in IUDX Vocabulary:</p>
  <br />
  <div class="title-div">
    <h1>IUDX Entities</h1>
    <p>
      These are used to describe JSON objects that are values of certain
      properties. These are the types for catalogue items.
    </p>
  </div>
  <div class="content-div">
    <div class="list-div">
      <ul  *ngFor="let entity of entities">
        <li><a (click)= "goToEntity(entity.label)">{{entity.label}}</a></li>
      </ul>
    </div>
  </div>
  <div class="para-div">
    <p>
      * You can also &nbsp;<a (click)=displayTypesList()>
        Browse All Types &nbsp;</a
      >
      and <a (click)=displayPropertyList()>&nbsp; Browse All Properties </a>
    </p>
  </div>
</div>
