.main-container {
  margin: 35px;
  padding-top: 60px;
  p {
    span {
      font-weight: 500;
    }
  }
  .title-div {
    h1 {
      border-bottom: 1px solid var(--border);
      padding-bottom: 20px;
    }
    p {
      padding: 25px 0px 25px;
    }
  }
  .content-div {
    width: 100%;
    .list-div {
      ul {
        padding-left: 25px;
        li {
          padding-bottom: 10px;
          //   list-style-type: circle;
          a {
            padding-left: 10px;
          }
        }
        li::before {
          content: url("/assets/bullet.png");
        }
      }
    }
  }
  .para-div {
    margin-top: 25px;
    p {
      font-size: 14px;
      color: var(--tertiary);
    }
  }
}
a {
  font-size: 14px;
  font-weight: 500;
  color: var(--highlight);
}
