.main-container{
    padding-top: 60px;
    margin: 35px;
    .title-div{
        h1 {
            font-size: 18px;
            padding-bottom: 10px;
            color: var(--secondary);
            font-weight: 500;
          }
    }
    .box-style {
        width: calc(100% - 0px);
        align-items: center;
        transition: background-color 0.2s;
        margin-bottom: 10px;
        padding: 15px 0;
        border-bottom: 1px solid var(--border);
        h4 {
            font-weight: 600;
            color: var(--primary);
            cursor: pointer;
            span {
                color: var(--tertiary);
            }
            img {
                width: 25px;
                float: right;
            }
        }
        p {
            padding-top: 10px;
            color: var(--secondary);
        }
        p {
          img {
              width: 20px;
              vertical-align: sub;
              margin-left: 10px;
              cursor: pointer;
          }
        }
        a {
            color: var(--highlight);
            font-weight: 600;
            display: inline-block;
            margin-top: 15px;
            margin-right: 30px;
        }
        p:first-child {
            color: var(--secondary);
            padding-top: 20px;
            font-weight: 500;
        }
        p > span {
            color: var(--tertiary);
            // font-weight: 500;
        }
  
        a:hover {
            text-decoration: underline;
            color: var(--highlight);
        }
    }
    .box-style:last-of-type {
        border: none;
    }
}
.pagination-box {
    left: 50%;
    padding: 30px 0;
}
.level_2 {
    margin-left: 30px;
}