<div class="main-container">
    <div class="title-div">
        <h1>Descriptor : env_aqm_iiith</h1>
        <br />
      </div>
    <div class="box-style" *ngFor="let resource of data_descriptor; let i = index;">
        <h4 (click)="toggle(i)">
            {{ resource[0].value }}
            <img src="assets/uncollapsed.png" *ngIf="flags[i]">
            <img src="assets/collapsed.png" *ngIf="!flags[i]">
        </h4>
        <div *ngIf="flags[i]">
            <div *ngFor="let key of resource;let j=index;">
                <div *ngIf="j != 0 && typeOf(key.value) != 'object'">
                    <p>
                        <span>{{key.key}}: </span> {{key.value}}
                    </p>
                </div>
                <div *ngIf="j != 0 && typeOf(key.value) == 'object'">
                    <p>
                        <span>{{key.key}}: </span>
                    </p>
                    <div *ngFor="let item of key.value;let k=index;" class="level_2">
                        <div *ngIf="k != 0 && typeOf(item.value) != 'object'">
                            <p>
                                <span>{{item.key}}: </span> {{item.value}}
                            </p>
                        </div>
                        <div *ngIf="k != 0 && typeOf(item.value) == 'object'">
                            <p>
                                <span>{{item.key}}: </span>
                            </p>
                            <div *ngFor="let data of item.value" class="level_3">
                                <p>
                                    <span>{{data.key}}: </span> {{data.value}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>