/* You can add global styles to this file, and also import other style files */
:root {
    --highlight: #00796B;
    --secondary: #444444;
    --tertiary: #6c6c6c;
    --border: #DDDDDD;
    --primary: #2C2C2C;
    --white: #FFFFFF;
    --off-white: #F4F4F4;
    --error: #BD4931;
    --warning: #FFA700;
  }
  
  * {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    outline: 0;
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: var(--primary);
    line-height: 1.5;
    letter-spacing: 0.5px;
  }
  
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
  }
  
  // ::-webkit-input-placeholder {
  //   /* Edge */
  //   font-weight: 400;
  //   color: var(--border);
  // }
  
  html,
  body {
    height: 100%
  }
  
  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-weight: 400;
    color: var(--border);
  }
  
  ::placeholder {
    font-weight: 400;
    color: var(--border);
  }
  
  body {
    background: var(--background);
    overflow-x: hidden;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style-type: none;
  }
  
  button,
  a {
    cursor: pointer;
  }
  
  