section {
  height: 100vh;
}

.home-container {
  width: 100%;
  display: flex;
  height: 100%;

  .left-container {
    position: relative;
    width: 100%;

    .navbar {
      padding: 25px 30px 0px 80px;
      background-color: var(--white);
      display: flex;
    }

    .logo {
      width: 150px;
      padding-top: 5px;

      img {
        width: 100%;
      }
    }

    .nav-group {
      display: flex;
      width: 90%;
      justify-content: flex-end;
      padding-right: 35px;
      padding-top: 25px;

      .type-div {
        margin-left: 30px;
      }

      a {
        color: #042f5b;
        font-weight: 500;
        font-size: 17px;
      }
    }
  }

  .right-container {
    width: 50%;
  }
}

.cover-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  max-width: 100%;
}

.type-div {
  .nav-link {
    margin-left: 30px;
  }
}

.center-content {
  width: 75%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  h1 {
    font-size: 32px;
    color: #042f5b;
    font-weight: 700;

    &.adex {
      color: #0a9;
    }
  }

  p {
    // margin-top: 30px;
    // font-size: 18px;
    color: var(--tertiary);
  }

  .search-div {
    width: 50%;
    display: flex;
    margin: 30px 26% 0 26%;
    position: relative;

    input {
      width: 100%;
      box-sizing: border-box;
      // max-width: 500px;
      outline: none;
      border: none;
      padding: 10px 45px 10px 25px;
      height: 50px;
      background-color: var(--off-white);
    }

    .search-icon {
      display: flex;
      margin-left: -40px;
      align-items: center;
      padding-top: 5px;

      img {
        height: 15px;
      }

      cursor: pointer;

      button {
        background-color: transparent;
        border: none;
      }
    }

    .searchBox-dropdown {
      box-sizing: border-box;
      max-height: 200px;
      border-top: 0;
      background-color: var(--white);
      // z-index: 100;
      position: absolute;
      top: 100%;
      overflow-y: auto;
      // width: calc(100% - 70px);
      border: 1px solid var(--border);
      width: 100%;
      max-width: 656px;

      text-align: left;

      .no_data {
        padding: 0 15px;
      }

      ul {
        list-style: none;

        li {
          cursor: pointer;

          p {
            padding: 15px;
            color: var(--primary);
            font-weight: 600;
          }

          &:hover {
            background-color: var(--off-white);
          }
        }
      }
    }
  }
}

::placeholder {
  font-size: 16px;
}

.scroll-down {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40px;
  color: var(--tertiary);
  font-weight: 500;

  span {
    display: block;
    width: fit-content;
    margin: 0 auto;

    img {
      height: 20px;
    }
  }
}

#about {

  .left-container,
  .right-container {
    width: 50%;
  }

  .right-container {
    position: relative;
  }
}

.text-content {
  padding: 100px 80px;

  h2 {
    font-size: 18px;
    color: #042f5b;
    font-weight: 700;
    margin-bottom: 20px;
  }

  ul {
    position: relative;

    li {
      padding-left: 1.5em;

      &::before {
        position: absolute;
        content: "•";
        font-size: 30px;
        color: #042f5b;
        left: 0;
      }
    }
  }

  li,
  p {
    color: var(--tertiary);
    margin-bottom: 15px;
    word-spacing: 2px;
    font-weight: 500;
    line-height: 2;
  }
}