<div class="data-models-container">
<div class="title-div">
    <h1>Data-Model Domains</h1>
</div>
<div class="content-div">
    <div class="cards-div">
        <h1>Waste Management</h1>
        <br>
        <p>Data models that pertain to the waste management domain</p>
        <br>
        <a>View Details</a>
    </div>
    <div class="cards-div">
        <h1>Civic</h1>
        <br>
        <p>Data models that pertain to the waste management domain</p>
        <br>
        <a>View Details</a>
    </div>
    <div class="cards-div">
        <h1>StreetLight</h1>
        <br>
        <p>Data models that pertain to the waste management domain</p>
        <br>
        <a>View Details</a>
    </div>
    <div class="cards-div">
        <h1>Waste Management</h1>
        <br>
        <p>Data models that pertain to the waste management domain</p>
        <br>
        <a>View Details</a>
    </div>
   
</div>
<div class="para-div">

</div>
</div>