<div class="main-container">
  <div class="title-div">
    <h1>List of Types</h1>
    <p>The table here shows the list of classes available with description</p>
  </div>
  <div id="table-div">
    <table>
      <tr>
        <th>Classes</th>
        <th class="description">Description</th>
      </tr>
      <tr>
        <td>
          <a class="classes">resourceServer</a>
        </td>
        <td class="description">
          The table here shows the list of classes available with description
        </td>
      </tr>
      <tr>
        <td>
          <a class="classes">resourceServer</a>
        </td>
        <td class="description">
          The table here shows the list of classes available with description
        </td>
      </tr>
      <tr>
        <td>
          <a class="classes">resourceServer</a>
        </td>
        <td class="description">
          The table here shows the list of classes available with description
        </td>
      </tr>
      <tr>
        <td>
          <a class="classes">resourceServer</a>
        </td>
        <td class="description">
          The table here shows the list of classes available with description
        </td>
      </tr>
      <tr>
        <td>
          <a class="classes">resourceServer</a>
        </td>
        <td class="description">
          The table here shows the list of classes available with description
        </td>
      </tr>
      <tr>
        <td>
          <a class="classes">resourceServer</a>
        </td>
        <td class="description">
          The table here shows the list of classes available with description
        </td>
      </tr>
    </table>
  </div>
</div>
