<div class="main-container">
  <div class="title-div">
    <h1>List of Types</h1>
    <p>The table here shows the list of classes available with description</p>
  </div>
  <div id="table-div">
    <table>
      <tr>
        <th>Classes</th>
        <th class="description">Description</th>
      </tr>
      <tr>
        <td>
          <a class="title">StructuredProperty</a>
        </td>
        <td class="description">
          Describes the class of all properties in IUDX that have a complex JSON structures and cannot be described using simple strings and native data types.
        </td>
      </tr>
      <tr>
        <td>
          <a class="title">StructuredProperty</a>
        </td>
        <td class="description">
          Describes the class of all properties in IUDX that have a complex JSON structures and cannot be described using simple strings and native data types.
        </td>
      </tr>
      <tr>
        <td>
          <a class="title">StructuredProperty</a>
        </td>
        <td class="description">
          Describes the class of all properties in IUDX that have a complex JSON structures and cannot be described using simple strings and native data types.
        </td>
      </tr>
      <tr>
        <td>
          <a class="title">StructuredProperty</a>
        </td>
        <td class="description">
          Describes the class of all properties in IUDX that have a complex JSON structures and cannot be described using simple strings and native data types.
        </td>
      </tr>
      <tr>
        <td>
          <a class="title">StructuredProperty</a>
        </td>
        <td class="description">
          Describes the class of all properties in IUDX that have a complex JSON structures and cannot be described using simple strings and native data types.
        </td>
      </tr>
      <tr>
        <td>
          <a class="title">StructuredProperty</a>
        </td>
        <td class="description">
          Describes the class of all properties in IUDX that have a complex JSON structures and cannot be described using simple strings and native data types.
        </td>
      </tr>
    </table>
  </div>
</div>
