<div class="main-container">
  <div class="title-div">
    <h1>List of Types</h1>
    <p>The table here shows the list of classes available with description</p>
  </div>
  <div id="table-div">
    <table>
      <tr>
        <th>Classes</th>
        <!-- <th>Expected Type</th> -->
        <th class="description">Description</th>
      </tr>
      <!-- <tr class="sub-header-style">
        <th>Properties of ResourceGroup</th>
        <th></th>
        <th></th>
      </tr> -->
      <tr>
        <td>
          <a class="classes">resourceServer</a>
        </td>
        <!-- <td>Text RelationshipValue</td> -->
        <td class="description">
          The table here shows the list of classes available with description
        </td>
      </tr>
      <tr>
        <td>
          <a class="classes">resourceServer</a>
        </td>
        <!-- <td>Text RelationshipValue</td> -->
        <td class="description">
          The table here shows the list of classes available with description
        </td>
      </tr>
      <tr>
        <td>
          <a class="classes">resourceServer</a>
        </td>
        <!-- <td>Text RelationshipValue</td> -->
        <td class="description">
          The table here shows the list of classes available with description
        </td>
      </tr>
      <!-- <tr class="sub-header-style">
        <th>Properties inherited from IUDXEntity</th>
        <th></th>
        <th></th>
      </tr> -->
      <tr>
        <td>
          <a class="classes">resourceServer</a>
        </td>
        <!-- <td>Text</td> -->
        <td class="description">
          The table here shows the list of classes available with description
        </td>
      </tr>
      <tr>
        <td>
          <a class="classes">resourceServer</a>
        </td>
        <!-- <td>Text</td> -->
        <td class="description">
          The table here shows the list of classes available with description
        </td>
      </tr>
      <tr>
        <td>
          <a class="classes">resourceServer</a>
        </td>
        <!-- <td>Text</td> -->
        <td class="description">
          The table here shows the list of classes available with description
        </td>
      </tr>
    </table>
  </div>
</div>
